In [62]:
import pandas as pd

df = pd.read_csv('fulldata.csv')

C:\Users\marin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,8,10,11,12,13,14,15,22,24,25,26,28,29,31,32,33,34,35,36,37,38,39,40,41,46,54,55,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [63]:
df.head()

,Unnamed: 0,AC$ANALYTICAL_CONDITION_CAPILLARY_VOLTAGE,AC$ANALYTICAL_CONDITION_COLLISION_ENERGY,AC$ANALYTICAL_CONDITION_DATAFORMAT,AC$ANALYTICAL_CONDITION_FRAGMENTATION_EQUIPMENT,AC$ANALYTICAL_CONDITION_FRAGMENTATION_METHOD,AC$ANALYTICAL_CONDITION_IONIZATION,AC$ANALYTICAL_CONDITION_MODE,AC$ANALYTICAL_CONDITION_MODEL,AC$ANALYTICAL_CONDITION_MS_TYPE,...,PK$PEAK_rel.int.,PUBLICATION,PUBLICATION_PUBMED,RECORD_TITLE,RECORD_TITLE_DSS,RECORD_TITLE_HN,RECORD_TITLE_L,SP$SAMPLE,STRUCTURE_FILE_NAME,Unnamed: 0.1
0,0,NaN,n.d.,NaN,NaN,NaN,ESI,positive,Quattro II,QqQ,...,29,"Ari Tolonen,Zsuzsanna Gyorgy,Jorma Jalonen,Pet...",15386517.0,2-Hydroxy-3-phenylpropyl-b-D-glucopyranoside; ...,NaN,NaN,NaN,Rhodiola rosea,NaN,0
1,1,NaN,n.d.,NaN,NaN,NaN,ESI,positive,Quattro II,QqQ,...,22,"Ari Tolonen,Zsuzsanna Gyorgy,Jorma Jalonen,Pet...",15386517.0,2-Hydroxy-3-phenylpropyl-b-D-glucopyranoside; ...,NaN,NaN,NaN,Rhodiola rosea,NaN,1
2,2,NaN,n.d.,NaN,NaN,NaN,ESI,positive,Quattro II,QqQ,...,10,"Ari Tolonen,Zsuzsanna Gyorgy,Jorma Jalonen,Pet...",15386517.0,2-Hydroxy-3-phenylpropyl-b-D-glucopyranoside; ...,NaN,NaN,NaN,Rhodiola rosea,NaN,2
3,3,NaN,n.d.,NaN,NaN,NaN,ESI,positive,Quattro II,QqQ,...,30,"Ari Tolonen,Zsuzsanna Gyorgy,Jorma Jalonen,Pet...",15386517.0,2-Hydroxy-3-phenylpropyl-b-D-glucopyranoside; ...,NaN,NaN,NaN,Rhodiola rosea,NaN,3
4,4,NaN,n.d.,NaN,NaN,NaN,ESI,positive,Quattro II,QqQ,...,65,"Ari Tolonen,Zsuzsanna Gyorgy,Jorma Jalonen,Pet...",15386517.0,2-Hydroxy-3-phenylpropyl-b-D-glucopyranoside; ...,NaN,NaN,NaN,Rhodiola rosea,NaN,4

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49308 entries, 0 to 49307
Data columns (total 60 columns):
Unnamed: 0                                         49308 non-null int64
AC$ANALYTICAL_CONDITION_CAPILLARY_VOLTAGE          7052 non-null object
AC$ANALYTICAL_CONDITION_COLLISION_ENERGY           49308 non-null object
AC$ANALYTICAL_CONDITION_DATAFORMAT                 32903 non-null object
AC$ANALYTICAL_CONDITION_FRAGMENTATION_EQUIPMENT    32903 non-null object
AC$ANALYTICAL_CONDITION_FRAGMENTATION_METHOD       32903 non-null object
AC$ANALYTICAL_CONDITION_IONIZATION                 49308 non-null object
AC$ANALYTICAL_CONDITION_MODE                       49308 non-null object
AC$ANALYTICAL_CONDITION_MODEL                      16405 non-null object
AC$ANALYTICAL_CONDITION_MS_TYPE                    49308 non-null object
AC$ANALYTICAL_CONDITION_PRECURSOR_SELECTION        32903 non-null object
AC$ANALYTICAL_CONDITION_SAMPLING_CONE              7052 non-null object
AC$ANALYTICAL_CONDITION_SOLVENT                    23117 non-null object
AC$ANALYTICAL_CONDITION_SOURCE_TEMPERATURE         7052 non-null object
AC$ANALYTICAL_CONDITION_SPECTRUM_TYPE              32903 non-null object
AC$INSTRUMENT                                      32903 non-null object
AC$INSTRUMENT_TYPE                                 0 non-null float64
ACCESSION                                          49308 non-null object
AUTHORS                                            49308 non-null object
CH$COMPOUND_CLASS_CLASS1                           49308 non-null object
CH$COMPOUND_CLASS_CLASS2                           49305 non-null object
CH$COMPOUND_CLASS_CLASS3                           38655 non-null object
CH$EXACT_MASS                                      49308 non-null object
CH$FORMULA                                         45462 non-null object
CH$INCHI                                           25851 non-null object
CH$IUPAC                                           32903 non-null object
CH$LINK                                            2 non-null object
CH$LINK_CAS                                        41261 non-null object
CH$LINK_KEGG                                       25849 non-null object
CH$LINK_PUBCHEM                                    25851 non-null object
CH$NAME                                            49303 non-null object
CH$NAME_AICAR                                      54 non-null object
CH$NAME_AMP                                        52 non-null object
CH$NAME_C16                                        57 non-null object
CH$NAME_C18                                        1 non-null object
CH$NAME_CDP                                        41 non-null object
CH$NAME_DSS                                        4 non-null object
CH$NAME_HN                                         5 non-null object
CH$NAME_I3                                         3 non-null object
CH$NAME_SAM                                        40 non-null object
CH$NAME_U                                          58 non-null object
CH$SMILES                                          32903 non-null object
COMMENTS                                           49131 non-null object
COPYRIGHT                                          49308 non-null object
DATE                                               49308 non-null object
MS$FOCUSED_ION_ION_TYPE                            49085 non-null object
MS$FOCUSED_ION_PRECURSOR_M/Z                       49308 non-null object
PK$NUM_PEAK                                        49308 non-null int64
PK$PEAK_int.                                       49308 non-null float64
PK$PEAK_m/z                                        49308 non-null float64
PK$PEAK_rel.int.                                   49308 non-null int64
PUBLICATION                                        42256 non-null object
PUBLICATION_PUBMED                                 16382 non-null float64
RECORD_TITLE                                       49282 non-null object
RECORD_TITLE_DSS                                   4 non-null object
RECORD_TITLE_HN                                    5 non-null object
RECORD_TITLE_L                                     17 non-null object
SP$SAMPLE                                          16405 non-null object
STRUCTURE_FILE_NAME                                0 non-null float64
Unnamed: 0.1                                       49308 non-null int64
dtypes: float64(5), int64(4), object(51)
memory usage: 22.6+ MB

In [65]:
df.isnull().sum()

Unnamed: 0                                             0
AC$ANALYTICAL_CONDITION_CAPILLARY_VOLTAGE          42256
AC$ANALYTICAL_CONDITION_COLLISION_ENERGY               0
AC$ANALYTICAL_CONDITION_DATAFORMAT                 16405
AC$ANALYTICAL_CONDITION_FRAGMENTATION_EQUIPMENT    16405
AC$ANALYTICAL_CONDITION_FRAGMENTATION_METHOD       16405
AC$ANALYTICAL_CONDITION_IONIZATION                     0
AC$ANALYTICAL_CONDITION_MODE                           0
AC$ANALYTICAL_CONDITION_MODEL                      32903
AC$ANALYTICAL_CONDITION_MS_TYPE                        0
AC$ANALYTICAL_CONDITION_PRECURSOR_SELECTION        16405
AC$ANALYTICAL_CONDITION_SAMPLING_CONE              42256
AC$ANALYTICAL_CONDITION_SOLVENT                    26191
AC$ANALYTICAL_CONDITION_SOURCE_TEMPERATURE         42256
AC$ANALYTICAL_CONDITION_SPECTRUM_TYPE              16405
AC$INSTRUMENT                                      16405
AC$INSTRUMENT_TYPE                                 49308
ACCESSION                                              0
AUTHORS                                                0
CH$COMPOUND_CLASS_CLASS1                               0
CH$COMPOUND_CLASS_CLASS2                               3
CH$COMPOUND_CLASS_CLASS3                           10653
CH$EXACT_MASS                                          0
CH$FORMULA                                          3846
CH$INCHI                                           23457
CH$IUPAC                                           16405
CH$LINK                                            49306
CH$LINK_CAS                                         8047
CH$LINK_KEGG                                       23459
CH$LINK_PUBCHEM                                    23457
CH$NAME                                                5
CH$NAME_AICAR                                      49254
CH$NAME_AMP                                        49256
CH$NAME_C16                                        49251
CH$NAME_C18                                        49307
CH$NAME_CDP                                        49267
CH$NAME_DSS                                        49304
CH$NAME_HN                                         49303
CH$NAME_I3                                         49305
CH$NAME_SAM                                        49268
CH$NAME_U                                          49250
CH$SMILES                                          16405
COMMENTS                                             177
COPYRIGHT                                              0
DATE                                                   0
MS$FOCUSED_ION_ION_TYPE                              223
MS$FOCUSED_ION_PRECURSOR_M/Z                           0
PK$NUM_PEAK                                            0
PK$PEAK_int.                                           0
PK$PEAK_m/z                                            0
PK$PEAK_rel.int.                                       0
PUBLICATION                                         7052
PUBLICATION_PUBMED                                 32926
RECORD_TITLE                                          26
RECORD_TITLE_DSS                                   49304
RECORD_TITLE_HN                                    49303
RECORD_TITLE_L                                     49291
SP$SAMPLE                                          32903
STRUCTURE_FILE_NAME                                49308
Unnamed: 0.1                                           0
dtype: int64

In [66]:
#selection des colonnes qui paraissent intéressante a priori



df = df[['ACCESSION', 'CH$COMPOUND_CLASS_CLASS1', 'CH$COMPOUND_CLASS_CLASS2','CH$COMPOUND_CLASS_CLASS3',
        'AC$ANALYTICAL_CONDITION_COLLISION_ENERGY','AC$ANALYTICAL_CONDITION_SOLVENT', 'AC$ANALYTICAL_CONDITION_IONIZATION', 'AC$ANALYTICAL_CONDITION_MODE',
        'AC$ANALYTICAL_CONDITION_MS_TYPE', 'CH$EXACT_MASS', 'CH$FORMULA','MS$FOCUSED_ION_PRECURSOR_M/Z', 'MS$FOCUSED_ION_ION_TYPE', 'PK$NUM_PEAK', 
        'PK$PEAK_m/z', 'PK$PEAK_rel.int.']]

In [69]:
df = df.rename(columns= {'CH$NAME' : 'nom_molecule',
                         'CH$COMPOUND_CLASS_CLASS1': 'class1',
                    'CH$COMPOUND_CLASS_CLASS2': 'class2',
                    'CH$COMPOUND_CLASS_CLASS3': 'class3',
                    'AC$ANALYTICAL_CONDITION_SOLVENT':'AC_solvent',                   
                    'AC$ANALYTICAL_CONDITION_COLLISION_ENERGY' : 'AC_collision_energy',
                    'AC$ANALYTICAL_CONDITION_IONIZATION' : 'AC_ionization',
                    'AC$ANALYTICAL_CONDITION_MODE' : 'AC_mode',
                    'AC$ANALYTICAL_CONDITION_MS_TYPE' : 'AC_ms_type',
                    'CH$EXACT_MASS' : 'exact_mass',
                    'CH$FORMULA' : 'formule',
                    'MS$FOCUSED_ION_PRECURSOR_M/Z': 'ion_precursor_m/z',
                    'MS$FOCUSED_ION_ION_TYPE': 'focused_ion_type',
                    'PK$NUM_PEAK': 'num_peak',
                    'PK$PEAK_m/z' : 'peak_m/z',
                    'PK$PEAK_rel.int.' : 'peak_rel.int.'})

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49308 entries, 0 to 49307
Data columns (total 16 columns):
ACCESSION              49308 non-null object
class1                 49308 non-null object
class2                 49305 non-null object
class3                 38655 non-null object
AC_collision_energy    49308 non-null object
AC_solvent             23117 non-null object
AC_ionization          49308 non-null object
AC_mode                49308 non-null object
AC_ms_type             49308 non-null object
exact_mass             49308 non-null object
formule                45462 non-null object
ion_precursor_m/z      49308 non-null object
focused_ion_type       49085 non-null object
num_peak               49308 non-null int64
peak_m/z               49308 non-null float64
peak_rel.int.          49308 non-null int64
dtypes: float64(1), int64(2), object(13)
memory usage: 6.0+ MB

In [71]:
df.head(7)

,ACCESSION,class1,class2,class3,AC_collision_energy,AC_solvent,AC_ionization,AC_mode,AC_ms_type,exact_mass,formule,ion_precursor_m/z,focused_ion_type,num_peak,peak_m/z,peak_rel.int.
0,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,297.0,29
1,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,179.0,22
2,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,163.0,10
3,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,133.0,30
4,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,119.0,65
5,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,117.0,100
6,PM000101,Other,Other,Other,n.d.,H2O/CH3OH/CH3CN,ESI,positive,QqQ,314.14,C15H22O7,332,[M+NH4]+,7,91.0,35

In [72]:
print( 'Nb Other class1: ', (df['class1'] == 'Other').value_counts()[1])
print( 'Nb Other class2: ', (df['class2'] == 'Other').value_counts()[1])
print( 'Nb Other class3: ', (df['class3'] == 'Other').value_counts()[1])

Nb Other class1:  15058
Nb Other class2:  3611
Nb Other class3:  1664

In [73]:
print('Valeurs nulles class1:', pd.isnull(df['class1']).sum())
print('Valeurs nulles class2:', pd.isnull(df['class2']).sum())
print('Valeurs nulles class3:', pd.isnull(df['class3']).sum())

Valeurs nulles class1: 0
Valeurs nulles class2: 3
Valeurs nulles class3: 10653

In [74]:
# remplacement des valeurs nulles par la classe adjacente

df['class2'] = df['class2'].fillna('Other')
df['class3'] = df['class3'].fillna('Other')

# vérification

print('Valeurs nulles class1:', pd.isnull(df['class1']).sum())
print('Valeurs nulles class2:', pd.isnull(df['class2']).sum())
print('Valeurs nulles class3:', pd.isnull(df['class3']).sum())

print( 'Nb Other class1: ', (df['class1'] == 'Other').value_counts()[1])
print( 'Nb Other class2: ', (df['class2'] == 'Other').value_counts()[1])
print( 'Nb Other class3: ', (df['class3'] == 'Other').value_counts()[1])

Valeurs nulles class1: 0
Valeurs nulles class2: 0
Valeurs nulles class3: 0
Nb Other class1:  15058
Nb Other class2:  3614
Nb Other class3:  12317

In [76]:
# suppression des lignes pour lesquelles les 3 classes sont 'Other'

for i in list(df.index):
    
    if df['class1'][i] == 'Other' and df['class2'][i] == 'Other' and df['class3'][i] == 'Other' :
        df = df.drop(df.index[i], axis = 0)
    
    else:
        pass
         
            
print( 'Nb Other class1: ', (df['class1'] == 'Other').value_counts()[1])
print( 'Nb Other class2: ', (df['class2'] == 'Other').value_counts()[1])
print( 'Nb Other class3: ', (df['class3'] == 'Other').value_counts()[1])

KeyError: 3

In [49]:
# Deux classes sont 'Other', on les remplace par la classe non 'Other'

for i in list(df.index):
    
    if df['class1'][i] == 'Other' and df['class2'][i] == 'Other':
        df['class2'][i] == df['class3'][i] + ' (Class3)' and df['class2'][i] == df['class3'][i] + ' (Class3)'
 
    elif df['class1'][i] == 'Other' and df['class3'][i] == 'Other':
        df['class1'][i] == df['class2'][i] + ' (Class2)' and df['class3'][i] == df['class2'][i] + ' (Class2)'
        
    elif df['class2'][i] == 'Other'  and df['class3'][i] == 'Other':
        df['class2'][i] == df['class1'][i] + ' (Class1)' and df['class3'][i] == df['class1'][i] + ' (Class1)'
    
    else:
        pass
    
print( 'Nb Other class1: ', (df['class1'] == 'Other').value_counts()[1])
print( 'Nb Other class2: ', (df['class2'] == 'Other').value_counts()[1])
print( 'Nb Other class3: ', (df['class3'] == 'Other').value_counts()[1])

Nb Other class1:  15055
Nb Other class2:  3611
Nb Other class3:  12314

In [47]:
# Une seule des classes est 'Other', on la remplace par une classe adjacente.

for i in list(df.index):
    if df['class1'][i] == 'Other':
        df['class1'][i] == df['class2'][i] + ' (Class2)'
    
    elif df['class3'][i] == 'Other':
        df['class3'][i] == df['class2'][i] + ' (Class2)'
        
    elif df['class2'][i] == 'Other':
        df['class2'][i] == df['class3'][i] + ' (Class3)'
    
    else:
        pass

print( 'Nb Other class1: ', (df['class1'] == 'Other').value_counts()[1])
print( 'Nb Other class2: ', (df['class2'] == 'Other').value_counts()[1])
print( 'Nb Other class3: ', (df['class3'] == 'Other').value_counts()[1])

Nb Other class1:  15055
Nb Other class2:  3611
Nb Other class3:  12314

In [28]:
df = df.drop(['AC_collision_energy', 'AC_ionization', 'AC_ms_type', 'focused_ion_type'], 1)

In [ ]:
df.to_csv('fulldata_clean.csv')